# Archivos de IntelliJ
.idea/
*.iml

# Archivos de compilación
*.class

# Archivos temporales de sistema operativo
*.log
*.tmp
*.swp
.DS_Store
Thumbs.db

# Salida del compilador (si usas una carpeta out/)
out/